{% extends 'main/layout.html' %}
{% block title %}Кафедри{% endblock %}
{% block content %}
<h2>Кафедри факультету</h2>
<div class="list">
  <div class="list-item">
    <h3>Кафедра Інформатики</h3>
    <span>Завідувач: Гороховський Семен Самуїлович, к.ф.-м.н., доцент</span><br>
    <span>Викладачі: Глибовець М.М., Бабич Т.А., Проценко В.С.</span>
  </div>
  <div class="list-item">
    <h3>Кафедра Математики</h3>
    <span>Завідувач: Олійник Богдана Віталіївна, д.ф.-м.н., професор</span><br>
    <span>Викладачі: Волинець Є.А., Вознюк Я.І.</span>
  </div>
  <div class="list-item">
    <h3>Кафедра Мережних технологій</h3>
    <span>Завідувач: Малашонок Геннадій Іванович, д.ф.-м.н., професор</span>
  </div>
  <div class="list-item">
    <h3>Кафедра Мультимедійних систем</h3>
    <span>Завідувач: Жежерун О.П., к.ф.-м.н., доцент</span><br>
    <span>Викладачі: Олецький О.В., Бублик В.В.</span>
  </div>
</div>
<div class="list-item" style="margin-top:20px;">
  <h3>Лабораторія інформатики</h3>
  <span>Зав. лабораторії: Вознюк Ярослав Іванович</span>
</div>
{% endblock %}
