{% extends 'main/layout.html' %}
{% block title %}Головна{% endblock %}
{% block content %}
<section class="hero">
  <h1>Факультет Інформатики НаУКМА</h1>
  <p>Лідер IT-освіти у центрі Києва.</p>
</section>
<div class="cards">
  <div class="card">
    <h2>{{ 5 }}</h2>
    <span>Сучасних спеціальностей</span>
  </div>
  <div class="card">
    <h2>{{ 4 }}</h2>
    <span>Кафедри</span>
  </div>
  <div class="card">
    <h2>240+</h2>
    <span>Кредитів навчання</span>
  </div>
</div>
<section class="faculty-info">
  {% if homepage %}
    <h2>{{ homepage.title }}</h2>
    <p>{{ homepage.content }}</p>
  {% else %}
    <p>Опис через адмінку</p>
  {% endif %}
</section>
<div class="quick-cta">
  <a href="{% url 'main:specialties_list' %}" class="main-btn">→ Дізнатися про спеціальності</a>
</div>
{% endblock %}
