{% extends 'main/layout.html' %}
{% block title %}Головна{% endblock %}
{% block content %}
<section class="hero">
  <h1>Факультет Інформатики НаУКМА</h1>
  <p>Лідер IT-освіти у центрі Києва. Наука, практика, майбутнє.</p>
</section>
<div class="cards">
  <div class="card">
    <h2>5</h2>
    <span>Сучасних спеціальностей</span>
  </div>
  <div class="card">
    <h2>4</h2>
    <span>Кафедри + лабораторія</span>
  </div>
  <div class="card">
    <h2>240+</h2>
    <span>Кредитів навчання</span>
  </div>
</div>
<section class="faculty-info">
  <h2>Про факультет</h2>
  <p>
    ФІ НаУКМА — це інноваційна освіта з акцентом на практику. На факультеті працюють: <br>
    <b>Декан:</b> Глибовець Андрій Миколайович.<br>
    <b>Заступник декана:</b> Гороховський Семен Самуїлович.<br>
    <b>Координатор освітніх програм:</b> Олійник Богдана Віталіївна.<br>
  </p>
  <p>
    Навчання на ФІ — це новітні програми, сучасні лабораторії, і підтримка кар'єрного старту.
  </p>
</section>
<div class="quick-cta">
  <a href="{% url 'main:programs_list' %}" class="main-btn">→ Дізнатися про спеціальності</a>
</div>
{% endblock %}
