{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Факультет Інформатики{% endblock %}</title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>
<body>
  <header>
    <nav>
      <div class="logo"><a href="{% url 'main:index' %}">ФІ НаУКМА</a></div>
      <ul>
        <li><a href="{% url 'main:index' %}">Головна</a></li>
        <li><a href="{% url 'main:departments_list' %}">Кафедри</a></li>
        <li><a href="{% url 'main:specialties_list' %}">Спеціальності</a></li>
        <li><a href="{% url 'main:lecturers_list' %}">Викладачі</a></li>
      </ul>
    </nav>
  </header>
  <main>
    {% block content %}{% endblock %}
  </main>
  <footer>
    <span class="contacts">
      вул. Г. Сковороди 2, 1 корпус НаУКМА, ауд. 315<br>
      Тел: (044) 425 60 64 | Email: <a href="mailto:fin@ukma.edu.ua">fin@ukma.edu.ua</a>
    </span>
    <br>
    <span>2025 Факультет Інформатики НаУКМА</span>
  </footer>
</body>
</html>
